<div class="navbar">
  <%= link_to 'MisterCocktail', cocktails_path %>
  <%= link_to 'Add Cocktail', new_cocktail_path, class: 'btn btn-outline-primary' %>
</div>

<div class="container">
  <h1>New Cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :picture %>
    <%= f.submit "Create cocktail", class: "btn btn-success" %>
  <% end %>
</div>
