<%= render "shared/navbar" %>


<div class="container">
  <h1>New Cocktail</h1>
  <%= simple_form_for [@cocktail,@dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Create dose", class: "btn btn-danger" %>
  <% end %>
</div>
